<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue - laracast</title>
</head>

<body>

<h2>{{ fullname }}</h2>
<input type="text" v-model="first">
<input type="text" v-model="last">

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
<script>

    new Vue({
        el: 'body',
        data: {
            first: 'Szymon',
            last: "K"
        },
        computed: {
            fullname: function () {
                return this.first + ' ' + this.last;
            }
        }

    });
</script>
</body>

</html>
